PORT=8080
MONGO_URI=mongodb+srv://ELeave_FSD:advaita@cluster0.dzrs52m.mongodb.net/leave-management
JWT_SECRET=your_jwt_secret_key_here_change_in_production
NODE_ENV=development
FRONTEND_URL=http://localhost:5174